<div class="hero">
  <h1>Our Courses</h1>
  <p>Explore our wide range of courses</p>
</div>

<div class="content">
  <section id="courses">
      <h2>Available Courses</h2>
      <p>Discover our comprehensive courses designed to help you master new skills and advance your career.</p>
      <a routerLink="/Courses" [queryParams]="{search:'facetoface'}">show Face To Face Course</a>
      <div class="courses" >
          <div class="course-card" *ngFor="let course of courses"(click)="gotoCourseDetail(course.id)">
              <img src="https://via.placeholder.com/300x200" alt="Course 1">
              <h3>{{course.title}}</h3>
              <p>{{course.description}}</p>
              <p>{{course.format}}</p>
          </div>

      </div>

  </section>
</div>
