<div class="hero">
  <h1>Welcome to MyWebsite</h1>
  <p>Your gateway to learning and growth</p>
</div>

<div class="content">
  <section id="home">
      <h2>Home</h2>
      <p>Welcome to the homepage of MyWebsite. Here you can find various resources and information about our services.</p>
  </section>
</div>
<div class="search-container">
  <input type="text" placeholder="Search courses..." class="search-box" #searchcourse/>
  <button class="search-button"  (click)="onSearchClick(searchcourse.value)">Search </button>
</div>
