.hero {
  background-color: #06BBCC;
  color: #ffffff;
  padding: 100px 20px 60px 20px;
  text-align: center;
  margin-top: 50px; /* to account for fixed navbar height */
}

.hero h1 {
  font-size: 48px;
  margin: 0;
}

.hero p {
  font-size: 24px;
  margin: 20px 0 0;
}

.content {
  padding: 40px 20px;
  text-align: center;
}

.content h2 {
  color: #06BBCC;
  font-size: 36px;
  margin: 0 0 20px;
}

.content p {
  color: #666666;
  font-size: 18px;
  line-height: 1.6;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 600px;
}

.search-box {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #06BBCC;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

.search-button:hover {
  background-color: #028a99;
}

.search-button:active {
  background-color: #026f7a;
}
